* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f9f9;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  font-weight: 700;
  border-bottom: 2px solid #3498db;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 70em;
  color: #414141;
}

.nav__container img {
  width: 240px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 450px;
  font-size: 18px;
}

.header__link a {
  text-decoration: none;
  transition: 0.3s;
  color: #414141;
}

.header__link:hover a {
  color: #3498db;
}

.whasap__icon__movil {
  color: #fffff0;
  text-decoration: none;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 190, 165);
  width: 100%;
  display: none;
  border-top: 2px solid #fffff0;
}

.whasap__icon__movil img {
  width: 20px;
  margin-right: 10px;
}

/* ----------HOME---------- */

.wasap__icon__web {
  position: absolute;
  z-index: 10;
  left: 15px;
  bottom: 25%;
  position: fixed;
}

.wasap__icon__web img {
  width: 70px;
}

.section__home {
  min-height: 100vh;
  background: url(assets/home-img.jpg);
  background-size: cover;
  position: relative;
}

.section__home::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.section__btn__container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
}

.section__btn__container a {
  display: inline-block;
  margin-top: 250px;
  margin-bottom: 30px;
  text-decoration: none;
  background-color: #f7f9f9;
  border: 2px solid #3498db;
  color: #3498db;
  padding: 15px;
  font-size: 1.7em;
  position: relative;
  z-index: 10;
  border-radius: 5px;
  transition: 0.5s;
  font-weight: 700;
}

.section__btn__container a:hover {
  background-color: #3498db;
  color: #f7f9f9;
  border-color: #f7f9f9;
}

.home__container {
  position: relative;
  z-index: 10;
  margin-left: 100px;
  padding-top: 200px;
}

.home__container h1 {
  width: fit-content;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(247, 249, 249, 0.9);
  color: #3498db;
  font-size: 6em;
}

.home__container p {
  padding: 7px;
  margin-top: 15px;
  font-size: 1.7em;
  font-weight: 700;
  color: #313131;
  text-transform: uppercase;
  width: fit-content;
  background-color: rgba(247, 249, 249, 0.9);
  border-radius: 5px;
}

/* ----------BENEFICIOS---------- */

.section__benefits {
  padding: 85px 0 50px 0;
}

.benefits__container {
  width: 80%;
  margin: 0 auto;
}

.benefits__container h1 {
  color: #f7f9f9;
  font-size: 2em;
  background-color: #414141;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
}

.benefits {
  display: flex;
}

.benefits__parrafo {
  margin-top: 20px;
  font-size: 1.25em;
  padding-left: 20px;
}

.benefits__list__item__container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits__list {
  padding: 20px;
  margin-top: 30px;
}

.benefits__list.uno {
  width: 65%;
}

.benefits__list.dos {
  width: 35%;
}

.law {
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  position: relative;
  background-color: rgba(52, 152, 219, 0.1);
}

.law i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.4em;
  color: #3498db;
}

.law__top {
  padding: 10px;
  color: #f7f9f9;
  background-color: #414141;
  border-radius: 5px;
  margin-bottom: 20px;
}

.benefits__list__item {
  padding: 20px 0;
  display: flex;
  font-size: 1.3em;
  align-items: center;
}

.benefits__list__item img {
  padding-right: 15px;
  width: 50px;
}

/* ----------SERVICIOS---------- */

.section__services {
  padding-top: 100px;
  padding-bottom: 60px;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3a6073, #16222a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cards__container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #f7f9f9;
  position: relative;
  border: 2px solid #414141;
  width: 30%;
  text-align: center;
  padding: 30px 50px;
  margin-right: 60px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.7);
}

.card a {
  display: inline-block;
  padding: 20px;
  background-color: #3498db;
  border-radius: 5px;
  color: #f7f9f9;
  text-decoration: none;
  border: 2px solid #f7f9f9;
  font-weight: 700;
  margin-top: 20px;
}

.card h3 {
  color: #f7f9f9;
  font-size: 2em;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.card__price {
  font-size: 2em;
  border-bottom: 2px solid #414141;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.card__item {
  display: flex;
  align-content: center;
  padding: 13px 0;
}

.card__item img {
  padding-right: 20px;
  max-width: 50px;
  height: 30px;
}

.card__item p {
  font-size: 1.1em;
  text-align: start;
}

.conditions__container {
  width: 50%;
  color: #f7f9f9;
}

.conditions__container h3 {
  font-size: 2em;
  width: fit-content;
  background-color: #414141;
  border-radius: 5px;
  padding: 7px;
  color: #f7f9f9;
}

.conditions__item {
  display: flex;
  align-items: center;
  margin: 40px 0;
  padding-left: 20px;
}

.conditions__item a {
  color: #f7f9f9;
}

.conditions__item img {
  width: 50px;
  padding-right: 15px;
}

.conditions__item p {
  font-size: 1.3em;
}

/* ----------Preuntas Frecuentes---------- */
.section__faq {
  margin-top: 50px;
  margin-bottom: 35px;
}

.faq__container {
  width: 75%;
  margin: 0 auto;
}

.faq__container h1 {
  color: #f7f9f9;
  background-color: #414141;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  font-size: 2em;
}

.questions__container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.faq__questions {
  padding: 20px;
  width: 50%;
}

.faq__question {
  font-size: 1.3em;
  font-weight: 700;
  margin: 7px 0;
}

.faq__answer {
  font-size: 1.1em;
  margin-bottom: 25px;
  padding-left: 5px;
}

.faq__aclaration {
  font-size: 1.4em;
  text-align: center;
}
/* ----------CONTACTO---------- */

/* ----------FOOTER---------- */

.footer {
  border-top: 1px solid #3498db;
  position: relative;
  height: 250px;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3a6073, #16222a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f7f9f9;
}

.made__by {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.made__by a {
  color: #3498db;
}

.footer__container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.footer__container h4 {
  font-size: 1.7em;
  font-weight: 400;
  color: #3498db;
  margin-bottom: 15px;
}

.footer__item {
  width: 30%;
}

.payment__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.payment__item i {
  width: 45px;
  font-size: 30px;
  margin-right: 10px;
  text-align: center;
}

.payment__item p {
  font-size: 1.1em;
}

.footer__item.dos {
  text-align: center;
}

.item__name {
  font-size: 1.7em;

  margin-bottom: 5px;
}

.item__mp {
  margin-bottom: 15px;
  color: #3498db;
}

.redes__icon i {
  font-size: 30px;
  margin: 0 15px;
  transition: 0.4s;
  cursor: pointer;
}

.redes__icon i:hover {
  transform: scale(1.2);
}

.redes__icon a {
  text-decoration: none;
  color: #f7f9f9;
}

.footer__item.tres {
  text-align: right;
  font-size: 1.2em;
}

.footer__item.tres i {
  margin-right: 10px;
}

.footer__item.tres p {
  margin: 20px 0;
}

.footer__item.tres span {
  color: #3498db;
}

/* ----------MEDIA-QUERYS---------- */

@media screen and (max-width: 1400px) {
  .benefits__container {
    width: 90%;
  }

  .conditions__item p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 0.9em;
  }

  .benefits__container {
    width: 95%;
  }

  .faq__container {
    width: 95%;
  }
}

@media screen and (max-width: 1080px) {
  body {
    font-size: 0.8em;
  }

  .home__container h1 {
    font-size: 0.5em;
  }

  .nav__container img {
    width: 180px;
  }

  .benefits {
    flex-direction: column;
  }

  .benefits__list.uno {
    width: 100%;
  }

  .benefits__list.dos {
    margin: 0 auto;
    width: 50%;
  }

  .cards__container {
    flex-direction: column;
  }

  .card {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .conditions__container {
    margin: 0 auto;
    width: 75%;
  }
}

@media screen and (max-width: 992px) {
  .home__container h1 {
    font-size: 4em;
  }

  .home__container p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .wasap__icon__web img {
    display: none;
  }

  .home__container h1 {
    font-size: 3.5em;
  }

  .home__container p {
    font-size: 1.1em;
  }

  .header__link a {
    font-size: 0.8em;
  }

  .nav__container img {
    width: 170px;
    margin-left: 10px;
  }

  .benefits__list.dos {
    width: 65%;
  }

  .footer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 680px) {
  .wasap__icon__web {
    display: none;
  }

  .whasap__icon__movil {
    display: flex;
  }

  .whasap__icon__movil p {
    font-size: 1.5em;
  }

  .nav__container img {
    display: none;
  }

  .nav {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .header__link:hover a {
    color: #414141;
  }

  body {
    font-size: 0.75em;
  }

  .home__container {
    margin: 0 10px;
  }

  .section__btn__container {
    width: 300px;
  }

  .section__btn__container a {
    margin-top: 200px;
  }

  .benefits__list {
    padding: 5px;
  }

  .benefits__parrafo {
    padding: 5px;
  }

  .benefits__list__item {
    font-size: 1.25em;
  }

  .benefits__list.dos {
    width: 90%;
  }

  .card {
    width: 95%;
  }

  .conditions__container {
    width: 95%;
  }

  .conditions__item {
    padding: 0 5px;
  }

  .questions__container {
    flex-direction: column;
  }

  .faq__container h1 {
    margin-bottom: 20px;
  }

  .faq__questions {
    width: 95%;
    padding: 0;
  }

  .faq__answer {
    font-size: 1.2em;
  }

  .faq__aclaration {
    font-size: 1.2em;
  }

  .section__contact {
    padding-top: 90px;
  }

  .section__contact h1 {
    font-size: 1.7em;
    text-align: center;
  }
  .form {
    margin: 0;
    padding: 0;
  }

  .form__groups {
    flex-direction: column;
  }

  .group {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer {
    height: fit-content;
    margin-bottom: 15px;
    font-size: 1.1em;
  }

  .footer__container {
    flex-direction: column;
    padding-top: 30px;
  }

  .footer__item {
    margin-bottom: 30px;
  }

  .footer__item.tres {
    width: 100%;
    text-align: center;
  }
  .footer__item.dos {
    width: 100%;
    text-align: center;
  }
  .footer__item.uno {
    width: 100%;
    text-align: center;
  }

  .payment__item {
    justify-content: center;
  }

  .payment__item i {
    display: none;
  }
}
